.card-img-top {
    height: 150px;
    width: 100px;
}
/* .booknav{
    display:flex;
} */
.menu{
    color: black;
}
.header{
    margin-top: 50px;
    margin-bottom: 0px;
     font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
}